body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f0ec;
  color: #111;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.icon {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 16px;
}

.nav-links a:hover {
    color: #555;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.15);
}

h1 {
  font-size: 28px;
  text-align: center;
}

/* Section */
.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: #333;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  color: #1e1e2f;
}

/* Skills Grid */
.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.about-grid .skill:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.about-grid .skill:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.about-grid .skill:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.about-grid .skill:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.about-grid .skill:nth-child(5) {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}
.about-grid .skill:nth-child(6) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #775f48ff;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
  padding: 20px;
  transition: transform 0.3s ease;
}

.skill:hover {
  transform: scale(1.1);
}

/* Tablet */
@media (max-width: 1024px) {
  .about-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .about-grid .skill {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  .nav-links {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
}

/* Mobile */
@media (max-width: 600px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .skill {
    font-size: 18px;
    padding: 20px;
  }

  .section-title {
    font-size: 2rem;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  .nav-links {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
  .section {
    padding: 40px 10px;
  }

  .container {
    padding: 20px 10px;
  }
}
